.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* padding: 40px 90px; */
  overflow-y: scroll;
  height: fit-content;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_items{
  display: flex;
  align-items: center;
  color: #6b7280;
  font-weight: 600;
  font-size: large;
  /* flex space-x-12 text-gray-500 text-lg font-semibold items-center */
}

.navbar_items p{
  margin: 0 3rem;
  
}