*{
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.App{
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
  padding: 40px 90px;
  /* overflow-y: scroll; */
  height: fit-content;
}
.logo{
  height: fit-content;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_items{
  display: flex;
  align-items: center;
  color: #6b7280;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.navbar_items p{
  margin: 0 1.5rem;  
}
.stc_button{
  padding: 16px;
  background-color: rgb(10, 132, 226);
  color: white;
  border: 0px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border-radius: 5px;
}
.serbox{
  justify-content: end;
  margin-top: 60px;
  display: flex;
}
.serbody{
  display: flex;
  padding: 4px;
  /* bo */
  border-color:rgb(10, 132, 226) ;
  columns: rgb(10, 132, 226);
  background-color:rgb(10, 132, 226) ;
  border-radius: 8px;
  align-items: center;
  width: 24rem;
  
}

.ser_inp{
  font-size:20px ;
  width: 100%;
  border: 0px;
  border-radius: 6px;
  padding: 6px 8px;
  font-weight:500 ;
  color: rgb(10, 132, 226);
}

/* c+i */
.contImg{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.co1{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.co1 p{
  font-size: 1.5rem;
  color: rgba(15, 89, 218, 0.87);
  font-weight: 500;
}

.co1 .A{
  color: black;
  font-weight: 700;
  font-size: 50px;
  margin: 2rem 0;
  
}

.co1 .B{
  font-size: larger;
  color: rgba(15, 89, 218, 0.87);
  font-weight: 400;
  /* margin-top: 24px; */
}

.co1 .C{
  color: #363637;
  margin-top: 24px;
  font-size: 1.5rem;
  font-weight: 600;
}

.butcont{
  display: flex;
  margin-top: 8px;
}

.butcont .AA{
  background-color: rgba(20, 150, 242, 0.906);
  color: white;
  font-size: larger;
  padding: 16px 32px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  /* bg-blue-600 text-white text-xl px-8 py-4  rounded-l-lg */
}

.butcont .BB{
  
  /* border-2 border-blue-600 text-blue-600 rounded-r-lg px-8 py-4 text-xl  */
}